.main {
	.container {
		margin-top: 40px;
		.row1 {
			.col {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;

				.publishButton {
					background-color: #543ee0;
					border: 1px solid #543ee0;
				}
			}
		}
	}
}
