.Navbar {
	display: flex;
	background-color: white;
	padding: 10px;
}

.list {
	.chatter {
		* {
			font-weight: bold;
			font-size: 30px;
			color: #543ee0;
		}
	}

	.personalItem {
		* {
			font-weight: bold;
		}
	}

	.trendingItem {
		* {
			font-weight: bolder;
		}
	}

	.logoutbutton {
		// background-color: red;
		color: red;
	}
}
