.Navbar {
	display: flex;
	background-color: white;
	padding: 10px;
	// min-height: 300px;
	// border: 1px solid red;

	
}

.menuIcon{
	width: 50px;
	height: 50px;
	// border: 1px solid black;
	margin-top: 10px;
	margin-left: 10px;
	z-index: 9998;

	position: relative;  /* Remove the div from the normal document flow */
	// top: 0;           /* Position it at the top of the viewport */
	// left: 50px; 

	&:hover{
		color: #543ee0;
	}
}
.drawer{
	z-index: 9999;
}

.list {
	.chatter {
		* {
			font-weight: bold;
			font-size: 30px;
			color: #543ee0;
		}
	}

	.personalItem {
		* {
			font-weight: bold;
		}
	}

	.trendingItem {
		* {
			font-weight: bolder;
		}
	}

	.logoutbutton {
		// background-color: red;
		color: red;
	}
}
