.nainContainer {
	border: 1px solid lightgrey;
	padding: 30px;

	.headerRow {
		.postButton {
			background-color: #543ee0;
			border: 1px solid #543ee0;
		}
	}

	.mainRow {
		margin-top: 30px;
		border: 1px solid lightgrey;

		.tabs {
		}
	}
}
